# ----------------------------------------------------------------------------------------
# idea
# ----------------------------------------------------------------------------------------
.idea/

.playwright-mcp/
.dev-port

# Node.js
node_modules/

# Playwright
playwright-report/
test-results/
playwright/.cache/
